body {
  cursor: default;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  font-family: LetoSans;
  color: #313131;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns {
  position: relative;
}
.columns:before {
  content: '';
  height: 16px;
  width: 8px;
  background-image: url("../images/red-columns.png");
  position: absolute;
  top: -30px;
  left: 3px;
}
.columns-center:before {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.title {
  font-size: 50px;
  line-height: 89px;
}
.cbalink {
  display: none !important;
}
